<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.buzzbox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="BuzzboxApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.parse.buzzbox.DispatchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        	android:name="com.parse.buzzbox.LoginActivity"
        	android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.parse.buzzbox.SignupActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.parse.buzzbox.MyProfile"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.parse.buzzbox.SignupOrLogin"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.parse.buzzbox.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.parse.buzzbox.newPost"
            android:screenOrientation="portrait">
        </activity>
 
        <activity
            android:name="com.parse.buzzbox.Private_message"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
        	android:name="com.parse.buzzbox.Create_Message"
        	android:screenOrientation="portrait">
        </activity>
 		<activity
        	android:name="com.parse.buzzbox.Message_complete"
        	android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>